@import '~normalize-css';


*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';

}

body{
    padding: 10px;
    background: #ff0202;
}


@font-face {
    font-family: 'Rodchenko';
    src: url(./fonts/Rodchenko-Bold.ttf);
}
