<div class="picture" >
  <img src="{{picture.src}}" width="{{width}}" (click)="setWidth(700)">
  <h1>{{picture.title}}</h1>
  <p>{{picture.description}}</p>
  <p>Current Location: {{picture.location}}</p>
  <p>Creation Year{{picture.creationYear}}</p>
  <p>Author: {{picture.author}}</p>
  <p>Size: {{picture.size}}</p>
</div>
<h2 style="text-align:center">Suggestions</h2>
<div class="suggestions">
  <div class="suggestion" (click)="setPicture(suggestion)"
  *ngFor="let suggestion of pictures">
    <img src="{{suggestion.src}}" width="{{200}}">
    <h3>{{suggestion.title}}</h3>
  </div>
</div>