.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

img {
    width: 100px;
    height: 100px;
}