<article class="resume">
  <img src="https://avatars.githubusercontent.com/u/83612717?s=400&u=3b830df3a8b30036d8228fac9aa96c03c4ace88d&v=4">
  <h1>{{name}}</h1>
  <p>{{title}}</p>
  <p>{{email}}</p>
  <p>{{phone}}</p>
  <p>{{address}}</p>
  <a href="{{website}}">{{website}}</a>
  <p>{{summary}}</p>
  <section class="contacts">
    <h2>Contacts</h2>
    <a href="https://github.com/danyalutsevich">Github</a>
    <a href="https://www.linkedin.com/in/danya-lutsevich-6410ba17a/">LinkedIn</a>
    <a href="https://twitter.com/danyalutsevich">Twitter</a>
    
  </section>
  <section>
      <h2>Skills</h2>
      <ul>
          <li *ngFor="let skill of skills">{{skill}}</li>
      </ul>
  </section>
  <section>
      <h2>Experience</h2>
      <ul>
          <li *ngFor="let job of experience">
              <h3>{{job.title}}</h3>
              <p>{{job.company}}</p>
              <p>{{job.years}}</p>
              <p>{{job.description}}</p>
          </li>
      </ul>
  </section>
</article>